/*reset*/
html {
  -webkit-text-size-adjust: 100%;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html button::-moz-focus-inner {
  border-color: transparent !important;
}

input[type="submit"], input[type="reset"], input[type="button"], input[type="text"], input[type="password"], textarea, button {
  -webkit-appearance: none !important;
}

html, body {
  color: #333;
  font-size: 100px;
  font-family: "Microsoft YaHei", PingFangSC-Regular, Arial, sans-serif;
  max-width: 640px;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.before:before, .after:after {
  display: table;
  content: " ";
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 0;
}

input, textarea, select {
  font-size: 100%;
  font-family: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, form, dl, dt, dd {
  margin: 0;
}

ul, ol {
  padding-left: 0;
  list-style-type: none;
}

/* img {
  pointer-events: none;  // 去掉不然 二维码 无法实现长按事件
} */

img, input {
  width: 100%;
  border: 0;
  display: block;
}

a {
  text-decoration: none;
  color: #333;
}

a, a:hover, a:active, a:visited, a:link, a:focus,
input, input:hover, input:active, input:visited, input:link, input:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
  border: none;
}

em, i, u {
  font-style: normal;
}

strong, b {
  font-weight: normal;
}

button {
  border: 0;
  outline: none;
  list-style: none;
}

input::-moz-placeholder {
  font-size: .28rem;
  color: #CCC;
}

input:-ms-input-placeholder {
  font-size: .28rem;
  color: #CCC;
}

input::-webkit-input-placeholder {
  font-size: .28rem;
  color: #CCC;
}

textarea {
  resize: none;
}

textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
  font-size: 0.3rem;
}

textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  font-size: 0.3rem;
}

textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  font-size: 0.3rem;
}

textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
  font-size: 0.3rem;
}

/*简写属性*/
.fl {
  float: left;
}

.fr {
  float: right;
}

/*显示、隐藏*/
.hide {
  display: none;
}

.show {
  display: block;
}

/*容器从定*/
.reset_box {
  background: #fff;
  padding: .3rem;
  font-size: 0;
  line-height: 1;
}

/*20像素上下间距*/
.spacing {
  height: .2rem;
  width: 100%;
  background: #F8F8FA;
}



.dis_f {
  display: -webkit-box; 
  display: -moz-box; 
  display: -webkit-flex; 
  display: -moz-flex; 
  display: -ms-flexbox; 
  display: flex;
}
.flex_c {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -moz-box-orient:vertical;
  -moz-box-direction:normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.dis_j {
  -moz-box-pack:center;
  box-pack:center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.dis_end {      /* 内容靠右侧 */
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
}
.dis_sb {
  -webkit-justify-content:space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.dis_sa {
  -webkit-justify-content:space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
}

.flex_i {
  -webkit-align-items:center;
  box-align:center;
  -moz-box-align:center;
  -webkit-box-align:center;
  align-items:center;
}

.flex1 {
  -webkit-box-flex: 1;              
  -moz-box-flex: 1;                 
  -webkit-flex: 1;                    
  -ms-flex: 1;                           
  flex: 1;                                 
  }